<div class="modal-header">
    <h3>Help us read between the lines.</h3>
</div>
<form name="form.userForm" ng-submit="submitFacts()" ng-model="user.userForm" novalidate>
    <div class="modal-body">
        <div class="form-group">
            <label>Currently Living In:</label>
            <input type="text" name="location" class="form-control" ng-model="user.location" ng-minlength="5" ng-maxlength="25">
            <label>I am ______ years old:</label>
            <input type="text" name="age" class="form-control" ng-model="user.age">
            <label>My Favorite Book Is:</label>
            <input type="text" name="favBook" class="form-control" ng-model="user.favBook" ng-maxlength="25">
            <label>My Favorite Author Is:</label>
            <input type="text" name="author" class="form-control" ng-model="user.favAuthor" ng-maxlength="25">
        </div>
        <div class="modal-footer">
            <button type="submit" class="sign-small" ng-disabled="form.userForm.$invalid">Submit</button>
            <button class="cancel-small" ng-click="cancel()">Cancel</button>
        </div>
    </div>
</form>