<div >
    <div ui-view="header">
    </div>
    <div class="col-md-12">
        <img ng-src='{{user.photo_url}}' class="img-circle profileImg" alt="Profile Pic">
    </div>
    <div class="profile-container">
        <div class="col-md-3" id="leftColProfile">
            <h3> Following</h3>
           <div class="container-fluid" id="searchfriends" ng-controller="DropdownCtrl">
                <input type="text" ng-init="getUsers()" ng-model="customSelected" placeholder="Connect with friends!" uib-typeahead="otherUser for otherUser in users | filter:$viewValue" typeahead-on-select="processFriend($item)">
            </div>
            <div id="friendList">
                <div ng-repeat="friend in friends">
                    <span ng-click="processFriend(friend)">{{friend}}</span>
                </div>
            </div>
        </div>
        <div class="col-md-6" id="leftColProfile">
            <h3> Hi, I'm {{user.user_name}}. </h3>
            <li><a id="add-friend" href="#" ng-click="addFriend()">Bookmark</a></li>
            <div>
                {{user.about_me}}
            </div>
        </div>
        <div class="col-md-3" id="midColProfile">
            <h3>Read Between The Lines </h3>
            <div class="facts">
                <strong><h5>Location</strong>: {{user.location}}</h5>
                </br>
                <strong><h5>Age</strong>: {{user.age}}</h5>
                </br>
                <strong><h5>Favorite Book</strong>:{{user.fav_book}}</h5>
                </br>
                <strong><h5>Favorite Author</strong>:{{user.fav_author}}</h5>
            </div>
        </div>
    </div>