<div ng-controller="ProfileController">
    <div ui-view="header">
    </div>
    <div class="col-md-12">
        <div class="text-center">
            <img src="//placehold.it/100" class="avatar img-circle" alt="avatar">
            <h6>Click To Change Profile Picture</h6>
        </div>
    </div>
    <div class="profile-container">
        <div class="col-md-3" id="leftColProfile">
            <h3> Following</h3>
            <div class="container-fluid" id="searchfriends" ng-controller="DropdownCtrl">
                <input type="text" ng-init="getUsers()" ng-model="customSelected" placeholder="Connect with friends!" uib-typeahead="user for user in users | filter:$viewValue" typeahead-on-select="processFriend(user)">
            </div>
            <div id="friendList">
                <div ng-repeat="friend in friends">
                    <span ng-click="processFriend(friend)">{{friend.user_name}}</span>
                </div>
            </div>
        </div>
        <div class="col-md-6" id="midColProfile">
            <h3> Hi, {{user.user_name}}. </h3>
            <a ng-click="aboutMeOpen()" id="about-me-button">Edit Your Profile</a>
            <div>
                {{user.about_me}}
            </div>
        </div>
        <div class="col-md-3" id="rightColProfile">
            <h3>Discover</h3>
            <div class="facts">
                <!--   <strong><h5>Location</strong>: {{user.location}}</h5>
                </br>
                <strong><h5>Age</strong>: {{user.age}}</h5>
                </br>
                <strong><h5>Favorite Book</strong>:{{user.favBook}}</h5>
                </br>
                <strong><h5>Favorite Author</strong>:{{user.favAuthor}}</h5> -->
            </div>
        </div>
    </div>