<div class="landing-container">
    <div class="col-md-3" id="leftColProfile">
        <h1>{{name}}</h1>
        <a ng-click="aboutMeOpen()" id="about-me-button">Edit</a>
    </div>
    <div class="col-md-3" id="leftColProfile">
        <h1> Tell Us Your Story </h1>
        <a ng-click="aboutMeOpen()" id="about-me-button">Edit</a>
    </div>
    <div class="col-md-6" id="midColProfile">
        <h1>Read Between The Lines </h1>
        <a ng-click="factsOpen()" id="facts-button">Edit</a>
    </div>
    <h1> hi </h1>
</div>